* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 250, 250);
}

section {
    border: 1px solid rgb(199, 199, 199);
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
}


section h3 {
   margin-bottom: 30px;
}

section button {
    border-radius: 5px;
    padding: 15px 30px;
    background-color: rgb(112, 88, 168);
    border: none;
    color: white;
}