@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

html, body, #root, section, main {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f4f6;
}

/* Remove height auto of swal */
body.swal2-height-auto {
    height: 100%!important; 
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding-top: 55px;
}

header h3 {
    font-size: 45px;
    font-weight: bold;
    color: #8e64a6;
    font-family: 'Anton', sans-serif;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #c3c3c3;
    background-color: #e2e5e8;
}

main {
    height: calc(100% - 125px);
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-example {
    display: flex;
    flex-direction: column;
    border: 1px solid #c3c3c3;
    background-color: #e2e5e8;
    border-radius: 5px;
    width: 300px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 15px;
    align-items: center;
    padding: 25px;
}

.container-example .title-example {
    margin: 0 auto;
    color: #b3b3b3;
    font-size: 1.2em;
    font-weight: 800;
    line-height: 1.375em;
    margin-bottom: 25px;
}

.container-example button {
    padding: .9em 2.1875em;
    border: 0;
    border-radius: .1875em;
    background-color: #3085d6;
    box-shadow: none;
    color: #fff;
    font-size: 1.125em;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}

.container-example button:hover {
    background-color: #c3c3c3;
}

a {
    text-decoration: none;
    color: #8e64a6;
}